.DS_Store
.coverage
.eggs/
.pip-audit-cache/
.pytest_cache/
.ruff_cache/
.venv/
*.db
*.egg
*.egg-info/
*.log
*.pyc
*.pyd
*.pyo
*.sqlite3
__pycache__/
backups/
build/
coverage.xml
debug/
dist/
gesha.log
htmlcov/
venv/
